@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

p {
  margin: 0;
}

.div_counter {
  border-bottom: 3px;
  width: 30px;
  margin: auto;
}

.div_counter-blue {
  border-bottom: solid 3px blue;
  width: 30px;
  margin: auto;
}

.div_counter-red {
  border-bottom: solid 3px red;
  width: 30px;
  margin: auto;
}

.div_viewport{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #92dcff;
}

.div_container {
  background-color: #5096b7;
  width: 800px;
  height: 500px;
  box-shadow: 2px 2px 10px;
  display: flex;
}

.div_image {
  clip-path: polygon(0 0, 100% 0, 74% 100%, 0 100%);
  background-color: #fff;
  width: 50%;
  height: 100%;
}

.img {
  height: 500px;
}

.p-titulo{
  font-size: 28px;
  color: #fff;
  margin: 20px;
  font-family: 'Itim', cursive;
  text-shadow: 1px 1px #000;
}

.p-deseo{
  font-size: 20px;
  color: #fff;
  margin-right: 10px;
  font-family: 'Itim', cursive;
  text-shadow: 1px 1px #000;
}